<div class="reservation-page">
  <div class="reservation-bg">
    <img src="assets/home2.jpg" alt="Reservierungs-Hintergrundbild" class="blurred-bg">
  </div>

  <div class="container">
    
    <div class="header-box">
      <p>Tischreservierung</p>
    </div>


    <div class="booking-info">
      <p>Jede Reservierung geht 90 Minuten <br> Letzte Reservierung des Tages: 21:30 Uhr</p>
    </div>

    
    <div class="filters-box">
      <div class="filters">
        <label for="datum">Datum:</label>
        <input type="date" id="datum" [(ngModel)]="selectedDatum">

        <label for="zeitfenster">Uhrzeit:</label>
        <input type="time" id="zeitfenster" [(ngModel)]="selectedZeitfenster">

        <button (click)="ladeSitzplan()">Sitzplan laden</button>
      </div>
    </div>

  
    <div *ngIf="isPopupOpen" class="popup">
      <div class="popup-content">
        <h2>Tisch: {{ selectedTisch.tisch.tisch_id }}</h2>
        <p>Kapazität: {{ selectedTisch.tisch.kapazitat }}, Status: {{ selectedTisch.status }}</p>
        <button (click)="closePopup()">Schließen</button>
        <button (click)="bucheTisch(selectedTisch); closePopup(); openPopup2(popup2Message)">Buchen</button>
      </div>
    </div>


    <div *ngIf="isPopupOpen2" class="popup">
      <div class="popup-content">
        <div [innerHTML]="popup2"></div>
        <button (click)="closePopup2()">Schließen</button>
      </div>
    </div>


    <div *ngIf="isSitzplanVisible" class="sitzplan"> 
      <div
        *ngFor="let tisch of sitzplan"
        class="tisch"
        [ngClass]="{'frei': tisch.status === 'frei', 'besetzt': tisch.status === 'besetzt'}"
        (click)="openPopup(tisch)"
      >
        {{ tisch.tisch.tisch_id }}
      </div>
    </div>
  </div>
</div>
