<html>
<body>
  <div class="row">
    <h1> Shogi </h1>
    <p> Shogi ist wunderbare,,,,, </p>
  </div>
  <div class="row">
    <div class="w50"><img src="#" width=300px height=400px alt="Picture" /></div>
    <div class="w50">
      <h3> Öffnungszeiten </h3>
      <h5> Montag - 17-19 </h5>
      <p> Ausshließlich an Schultagen </p>
    </div>
  </div>
  <div class="row">
    <div class="w50">
      <h3> Anreise </h3>
      <p> Detmolder Straße 4 <br />51109 Köln<br />VErschiedene </p>
    </div>
    <div class="w50"><img style="border: 1px solid black;" src="../img/MapLocation.jpeg" width=50% alt="Picture" />
    </div>
  </div>

  <div class="row">
    <div class="w50">
      <img src="#" width=500px height=300px alt="Picture" />
      <h3> Spielen </h3>
      <p> Spiele SHogi </p>
    </div>
    <div class="w50">
      <img src="#" width=500px height=300px alt="Picture" />
      <h3> Puzzle </h3>
      <p> Spiele Tsume </p>
    </div>
  </div>

</body>

</html>

<script>
  import { defineComponent } from "vue";
  import AppHeader from "../components/header.html";
  import AppFooter from "../components/footer.html";

  export default defineComponent({
    name: "ShogiCologne",
    components: {
      AppHeader,
      AppFooter
    }
  })
</script>

<style scoped>
  html {
    top: 0;
    left: 0;
  }

  body {
    width: 80%;
    margin: auto;
    min-height: 500px;
    background-color: white;

  }

  .row {
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 1.5rem;
  }

  .w50 {
    width: 50%;
  }
</style>