body { 
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f9f9f9;
    color: white; 
    position: relative;
}


.background-container {
    position: fixed;
    width: 100%;
    height: 100vh; 
    min-height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}

.background-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px);
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


main {
    margin-top: 80px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.container {
    width: 80%;
    max-width: 1400px;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid white;
    border-radius: 8px;
    padding: 40px;
    text-align: center;
    margin: 40px auto;
    color: white;
}


h1 {
    color: white;
    text-align: center;
    font-size: 2.5rem;
}


#boss {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.column-left {
    width: 48%;
    text-align: left;
}


.column-right {
    width: 48%;
    text-align: right;
}


ol {
    list-style-type: upper-roman;
    padding: 0;
    text-align: left;
    margin: 0;
}


ol li {
    width: 100%;
    font-size: 1.2em;
    line-height: 1.6;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    
    
    display: inline-block;
    max-width: 95%;
    white-space: pre-line;
    word-break: break-word;
}


.column-left ol li {
    text-align: left;
}


.column-right ol li {
    text-align: right;
}


ol li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #0073e6;
}


ol li ul {
    margin-top: 5px;
    font-size: 0.9em;
    color: white;
    display: none;
}


ol li:hover ul {
    display: block;
}


.column-right ol li ul {
    text-align: right;
}


.column-left ol li ul {
    text-align: left;
}
