<footer class="footer"> 
    <div class="footer-container">
       

       

        

        <div class="footer-section">
            <h4>Über uns</h4>
            <ul>
                <li><a href="/imprint">Impressum</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/">Team</a></li>
                <li><a href="/">Karriere</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h4>INFOS</h4>
            <ul>
                <li><strong>Öffnungszeiten:</strong><br>Mo-Sa 9:00-19:00 Uhr</li>
                <li><strong>Adresse:</strong><br>Rizzallee 42, 50968  Köln</li>
              
            </ul>
        </div>
    </div>

    <hr class="footer-line" />

    <div class="footer-bottom">
        <p>Powered by <a href="/">Freak Bob</a></p>
    </div>
</footer>
