<main>    
    
    <h1> Hello </h1>
    <hr />
    <div style="width: 80%">
        <h2> Anreise </h2> 
        <p> PLACEHOLDER </p>
        
        <h2> Öffnungszeiten </h2> 
        <p> PLACEHOLDER</p>
    </div>

    <div class="links">
         <nav>
            <ul>
                <h4> Support </h4>
                <li> <a href="/login"> Login </a> </li>
                <li> <a href="/"> Leer </a> </li> 
                <li> <a href="/"> Leer </a> </li>
            </ul>
        </nav>   
        <nav>
            <ul>
                <h4> Kontakt </h4>
                <li> <a href="/login"> Login </a> </li>
                <li> <a href="/"> Leer </a> </li> 
                <li> <a href="/"> Leer </a> </li>
            </ul>
        </nav>            
        <nav>
            <ul>
                <h4> Menü </h4>
                <li> <a href="/"> Shogi Köln </a> </li>
                <li> <a href="/tournament"> Turnier </a> </li> 
                <li> <a href="/contact"> Kontakt </a> </li>
            </ul>
        </nav>
        <nav>
            <ul>
                <h4> Support </h4>
                <li> <a href="/login"> Login </a> </li>
                <li> <a href="/"> Leer </a> </li> 
                <li> <a href="/"> Leer </a> </li>
            </ul>
        </nav>            
    </div>
   
    <footer>
        <hr />
        Powered By <a href="/">Heavenly Immortal Machine</a>
    </footer>
</main>