<div class="sticky-header">
    
    <div class="row">
        <h1 style="z-index: 2; margin-left: 5%"> Restaurant </h1>
        <nav aria-label="Marin Navigation Links">
            <a href="/" aria-label="Home"> Home </a>
            <a href="/" aria-label="Termine"> Termine </a>
            <a href="/" aria-label="Links"> Links </a>
            <a href="/" aria-label="Gallerie"> Gallerie </a>
            <a href="/" aria-label="Impressum"> Impressum </a>
            <a href="/about" aria-label="Shogi"> About </a>
            <!-- <a href="/member aria-label="Member"> Mitglied </a> -->
            <button class="navBtn" (click)="toggleModal('log')" style="width: auto;"> Example Modal </button>


            <!-- Modal log -->
            <div id="log" class="modal" [style.display]="modalVisible == 'log' ? 'block' : 'none'">
                
                <form class="modal-content animate" action="/" method="post">
                    <h1 > Login </h1>
                    <span (click)="toggleModal(null)" class="close" title="close Modal">&times;</span>
                    
                    <div class="row"  style="flex-direction: column">
                        
                        <label for="name"><b> Benutzername </b></label>
                        <input  type="text" placeholder="Benutzername" name="name"> <!--:value = "formData.email"  required @input = "formData.email = $event.target.value"-->
                        <label for="pass"><b> Passwort </b></label>
                        <input type="password" placeholder="Passwort" name="pass">  <!--:value = "formData.password"  required @input = "formData.password = $event.target.value"-->
                        <button type="button" class="modalBtn"> Login </button>

                    </div>
                    <div class="row">
                        <button type="button" style="margin:auto; width: 40%;" (click)="toggleModal(null)"> Cancel </button>
                        <a style="width: autos; text-align: center; float: right; margin: auto; width: 40%;" href="/"> Forgot password? </a>
                    </div>
                </form>
            </div>
            <!-- End of Modal log -->

        </nav>
    </div>
        
</div>

