body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(23, 23, 23); 
    color: white;
}

.sticky-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: rgba(40, 40, 40, 1); 
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

main {
    margin-top: 80px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    justify-content: center;
    width: fit-content;
    margin: auto;
}

.gallery-item {
    width: 406px;
    height: 550px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6); 
    transition: transform 0.3s ease-in-out;
}

/* Bildgröße anpassen */
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.gallery-item:hover {
    transform: scale(1.1);
}

.gallery-container {
    background-color: rgb(17, 17, 17); 
    padding: 40px 0; 
    width: 100%;
    display: flex;
    justify-content: center;
}
.gallery-section {
    background-color: rgb(17, 17, 17); 
    padding: 40px 0; 
    width: 100%;
    text-align: center;
}

.gallery-section h1 {
    margin-bottom: 20px; 
    color: white; 
}

@media (max-width: 1200px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .gallery {
        grid-template-columns: repeat(1, 1fr);
    }
}

h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    color: white;
    position: relative;
    z-index: 10;
}
